
<div class="page-header">
  <h1>Stunts Я Us <small>The best stunt actor database...in the WORLD!</small></h1>
</div>

<div class="row">
  <% @people.each do |person| %>
    <div class="col-md-3">
      <a href='/people/<%=person.slug%>'><img src="<%= person.profile_picture %>" class="img-thumbnail"></a>
      <a class = "display-name" href='/people/<%=person.slug%>'><%= person.name %></a>
    </div>
  <% end %>
</div>


